body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {  
  display: flex;
  flex-direction: column;
}
.container div {
  background-color: none;
  width: auto;
  margin: auto;
  padding: 0px;
  text-align: center;  
  font-size: 20x;
}
#titulo {
  position: relative;
  background-color: none;
  width: 10;
  margin: 0;
  padding: 0px;
  text-align: center;  
  font-size: 25px;
}
#titulo.relative{
  margin-top: 15px;
}
#subtitulo {
  background-color: none;
  width: 10;
  margin: 0;
  padding: 0px;
  text-align: center;  
  font-size: 17.5px;
}
#titulo h2, 
#subtitulo h2 {
  margin: 0;
  color: #d3d57b;
  -webkit-text-stroke: 2px #45471d;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
#titulo h2 {
  line-height: 1.1; /* Esse valor achata a caixa invisível do título */
}
#subtitulo {
  margin-top: 2px; /* Diminua esse número para 5px ou 10px se quiser colar ainda mais! */
}
#subtitulo h2 {
  font-size: 30px;
}
#nomes {
  color: white;
  -webkit-text-stroke: 2px #45471d;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  margin: 15;
  text-align: center;
  font-size: 20px;
}
#btnentrar {
  background-color: #D4CA68;
  color: #655C20;
  height: 80%;
  width: 250;
  border-radius: 12px;
  border: none;
  text-align: center;  
  font-size: 40px;
  font-family: "Bree Serif", serif;
  padding: 20px 60px;
  margin-top: auto; 
  margin-bottom: 20px;
}
#tela-capa {
  display: flex;
  flex-direction: column;
  
  /* Mantém as suas cores e imagens originais */
  background-image: url(flat\,750x1000\,075\,t.jpg);
  background-size: cover;
  background-color: rgba(238, 238, 41, 0.719);
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .9);
  
  /* FORMATO DE LIVRO (Mais alto e menos largo) */
  width: 400px;         /* Define uma largura fixa que lembra um livro */
  max-width: 90%;       /* Proteção para não quebrar em telas de celular */
  min-height: 500px;    /* Força a caixa a ser mais alta */
  padding: 40px 30px;
}
/* Set a style for all buttons */
button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
#tela-inicial {
  display: none;
  flex-direction: row;
  background-size: cover;
  background-color: #D4CA68;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .9);
  
  /* FORMATO DE LIVRO (Mais alto e menos largo) */
  width: 100%;         /* Define uma largura fixa que lembra um livro */
  max-width: 95.2%;       /* Proteção para não quebrar em telas de celular */
  min-height: 88%;    /* Força a caixa a ser mais alta */
  padding: 40px 30px;
}
#TituloLevel0 {
  font-family: "Brawler", serif;
  position: absolute; /* Posiciona o elemento em relação ao viewport */
  top: 25px; /* Alinha ao topo */
  left: 1; /* Alinha à esquerda */
  color: black;
  font-size: 30px;
  display: flex;
  flex-direction: column; /* Coloca um texto embaixo do outro */
  gap: 0px;
}
#TituloLevel0 h1, 
#TituloLevel0 h2 {
  margin: 0;
}
#Texto1Lvl0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1%;
  font-family: "Bree Serif", serif;
  background-color: #655C20;
  color: #D4CA68;
  position: absolute; /* Posiciona o elemento em relação ao viewport */
  top: 30%; /* Alinha ao topo */
  right: 10%;
  font-size: 22px;
  width: 80%;
  height: 60%;
}
#pe {
  display: none;
  flex-direction: column;
  justify-content: center;
  font-family: "Bree Serif", serif;
  background-color: #655C20;
  color: #D4CA68;
  width: 100%;
  height: 30%;
  align-items: center;
  font-size: 25px;
}
#skins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  position: absolute;
  border-radius: 30px;
  background-color: #9F933D;
  top: 8%;
  width: 30%;
  height: 8%;
  right: 22%;
}
.btnskin {
  display: flex;
  justify-content: center;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-top: 1%;
}

#btn1 {
  background-color: #D4CA68;
  align-items: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWRvb3ItY2xvc2VkLWljb24gbHVjaWRlLWRvb3ItY2xvc2VkIj48cGF0aCBkPSJNMTkgMjFWNWEyIDIgMCAwMC0yLTJIN2EyIDIgMCAwMC0yIDJ2MTYiLz48cGF0aCBkPSJNMiAyMWgyMCIvPjxwYXRoIGQ9Ik05IDEyaC4wMSIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#btn2 {
  background-color: #07FAE7;
  align-items: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXdhdmVzLWxhZGRlci1pY29uIGx1Y2lkZS13YXZlcy1sYWRkZXIiPjxwYXRoIGQ9Ik0xOSA1YTIgMiAwIDAgMC0yIDJ2MTEiLz48cGF0aCBkPSJNMiAxOGMuNi41IDEuMiAxIDIuNSAxIDIuNSAwIDIuNS0yIDUtMiAyLjYgMCAyLjQgMiA1IDIgMi41IDAgMi41LTIgNS0yIDEuMyAwIDEuOS41IDIuNSAxIi8+PHBhdGggZD0iTTcgMTNoMTAiLz48cGF0aCBkPSJNNyA5aDEwIi8+PHBhdGggZD0iTTkgNWEyIDIgMCAwIDAtMiAydjExIi8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#btn3 {
  background-color: #E41017;
  align-items: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNwb3J0LXNob2UtaWNvbiBsdWNpZGUtc3BvcnQtc2hvZSI+PHBhdGggZD0ibTE1IDEwLjQyIDQuOC01LjA3Ii8+PHBhdGggZD0iTTE5IDE4aDMiLz48cGF0aCBkPSJNOS41IDIyIDIxLjQxNCA5LjQxNUEyIDIgMCAwIDAgMjEuMiA2LjRsLTUuNjEtNC4yMDhBMSAxIDAgMCAwIDE0IDN2MmEyIDIgMCAwIDEtMS4zOTQgMS45MDZMOC42NzcgOC4wNTNBMSAxIDAgMCAwIDggOWMtLjE1NSA2LjM5My0yLjA4MiA5LTQgOWEyIDIgMCAwIDAgMCA0aDE0Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#btn4 {
  background-color: #FFCC00;
  align-items: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWJhbGxvb24taWNvbiBsdWNpZGUtYmFsbG9vbiI+PHBhdGggZD0iTTEyIDE2djFhMiAyIDAgMCAwIDIgMmgxYTIgMiAwIDAgMSAyIDJ2MSIvPjxwYXRoIGQ9Ik0xMiA2YTIgMiAwIDAgMSAyIDIiLz48cGF0aCBkPSJNMTggOGMwIDQtMy41IDgtNiA4cy02LTQtNi04YTYgNiAwIDAgMSAxMiAwIi8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#btn5 {
  background-color: #454545;
  align-items: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFsYXJtLWNsb2NrLWljb24gbHVjaWRlLWFsYXJtLWNsb2NrIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEzIiByPSI4Ii8+PHBhdGggZD0iTTEyIDl2NGwyIDIiLz48cGF0aCBkPSJNNSAzIDIgNiIvPjxwYXRoIGQ9Im0yMiA2LTMtMyIvPjxwYXRoIGQ9Ik02LjM4IDE4LjcgNCAyMSIvPjxwYXRoIGQ9Ik0xNy42NCAxOC42NyAyMCAyMSIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}